﻿@model Medic.Web.ViewModels.LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<h2>Login</h2>

<div class="container">
    <div class="row">
        <div class="col-md-offset-5 col-md-3">
            <div class="form-login">
                <h4>Welcome back.</h4>
                @*<input type="text" id="userName" class="form-control input-sm chat-input" placeholder="username" />*@
                @Html.TextBoxFor(m => m.LoginName, new { @class = "form-control input-sm chat-intput" })
                @Html.ValidationMessageFor(m=>m.LoginName)
                <br/>
                @Html.TextBoxFor(m => m.Password, new { @class = "form-control input-sm chat-intput" })
                @Html.ValidationMessageFor(m => m.Password)
                @*<input type="text" id="userPassword" class="form-control input-sm chat-input" placeholder="password" />*@
                <br/>
                <div class="wrapper">
                    <span class="group-btn">
                        <a href="#" class="btn btn-primary">login <i class="fa fa-sign-in"></i></a>
                    </span>
                </div>
            </div>

        </div>
    </div>
</div>